/* .html {
    margin: 0px;
} */

.body {
    box-sizing: border-box;
    margin: 0px;
}

.main-background {
    width: 100%;
    max-width: 500px;
    height: 300px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-title {
    color: white;
    font-size: 20px;
    text-align: center;

}

.main-content {
    color: white;
    font-size: 10px;
    text-align: center;
    position: relative;
    top: 70px;
}

.main-button {
    
}